---
applications:
- name: greenplum-broker-blue
  memory: 1024M
  instances: 1
  path: target/greenplum-broker.jar
  env:
    SPRING_PROFILES_ACTIVE: cloud
    ADMIN_DB: gpadmin
    GPDB_PORT: 5432
    GPDB_HOST: 52.43.204.66
    GPDB_USER: gpadmin
    GPDB_PASS: YOUR_PASSWORD_HERE

